/*FONTS*/



@font-face {
    font-family: "gothamBook";
    src: url("../fonts/gothamBook.woff2") format("woff2"), url("../fonts/gothamBook.woff") format("woff");
}

@font-face {
    font-family: "gothamBold";
    src: url("../fonts/gothamBold.woff2") format("woff2"), url("../fonts/gothamBold.woff") format("woff");
}


/*FONTS*/


body {

    height: 99vh;
    padding: 3px;
    display: flex;
    font-family: 'gothamBold';
    position: relative;

}

h2 {

    font-size: 2em;
    margin: 5px;
    width: auto;
    border: solid 2px red;
    position: relative;
    overflow: hidden;
}

p {
    margin: 5px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.one {

    height: 70%;
    width: 40%;
    margin-top: 15vh;
    margin-left: 5%;
    position: relative;
    overflow: hidden;

}

.one img {

    max-height: 100%;
    width: auto;
}

/* /////////// */

.two {

    height: 70%;
    width: 40%;
    margin-top: 15vh;
    position: relative;

}

.two .first {

    margin-top: 150px;
    max-width: 520px;
    height: 0;
    border: none;

}

.cacheT {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #4CD964;

}

.two .second {
    height: 0;
    max-width: 220px;
    border: none;
    margin-top: 0;

}


.cacheTT {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #4CD964;

}

.two p {
    opacity: 0;
    transform: translateY(50%);

}

/* /////////// */


.three {


    height: 200px;
    width: 400px;
    margin: 5px;
    margin-top: 20px;
    display: flex;
}

.btnOne,
.btnTwo {

    background: none;
    border-radius: 5px;
    height: 50px;
    padding: 10px;
    margin-left: 50px;

}

.three img {

    height: 50px;
    opacity: 0;
    transform: translateY(50%);

}


/* ////////////////// */


.grey {

    position: absolute;
    background: #4CD964;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}